// app.scss
@import './volt.scss';

// app.scss or a partial file
.centered-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

    &.embedded {
        height: auto;
        min-height: 60vh; // Adjust for admin layout height
        background-color: transparent;
    }

    &:not(.embedded) {
        width: 100vw;
        height: 100vh;
        background-color: #f8f9fa;
    }
}